/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
#site_header {
    background-color: #ff8523;

    padding-bottom: 20px;
    padding-left: 20px;
    border-radius: 10px;
}

body{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 90%;
    line-height: 1.6;
    background-image: url(./img/bg.jpg);
}

body > div{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    padding: 20px;
}

h2, h3 {
    color: #1fabe5;
}
#logo {
    width: 10px;
    border: 10px #ff8523;
    padding: 10px;
}
form {
  background-color: #dddddd;
  padding: 15px;
  border-radius: 10px;
}

.name {
  background-color: #ff8523;
  border-radius: 10px;
  padding: 15px;
  padding-left: 30px;
  color: white;
}


ul {
  font-weight: bold;
}

.main_navigation a {
  border-color: white;
  border: 1px solid #ffffff;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
}

table {
  border-collapse: collapse;
}
thead{
  background-color: #1fabe5;
  color: white;
  width: 40%;
}

td, th {
    border: 2px solid #1fabe5;
    padding: 15px;
}
td {
  border: 2px solid #1fabe5;
}

img {
  width: auto;
  height: 70px;
}

div > Label {
  font-weight: bold;
}

#bio {
  border-color: #1fab35;
}

#submit_button {
  color:  white;
  background-color: #1fabe5;
  border-radius: 5px;
}

section {
  border-bottom: 4px solid #dddddd;
  padding-bottom: 20px;
}
